apiVersion: v1
kind: ConfigMap
metadata:
  name: backstage-app-config
  namespace: backstage
data:
  app-config.yaml: |
    app:
      title: Backstage Demo
    backend:
      # Use o host do Ingress
      baseUrl: http://backstage.127.0.0.1.nip.io
      listen:
        port: 7007
    techdocs:
      builder: 'local'
      generator:
